/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: rgb(250, 250, 250);
$white: #f4f4f4;
$gray: #dedede;
$green: #0d21cf;
$red: rgba(253, 253, 250, 0.521);
